/* Inicio div cabecalho*/


/*Final div cabecalho*/


/*Inicio div menu */

/*Final div menu*/


/*Inicio div rodape*/

/*Final div rodape*/

/*Incio Texto*/

h1#titulo{
text-align: center;
font-family: sans-serif;
}
/*Final texto*/

/*Inicio Button*/

button{
border: solid 1px gray;
border-radius: 20px;
color: blue;
background-color: white;
transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
display: flex;

}
.botao:hover{
background-color: blue;
color: white;
transform: scale(1.2)
}

button#pp{
border-radius:30px;
justify-content:space-around;
}



button#cadastro{
border-radius:30px;
justify-content:space-around;
}


button#sobre{
border-radius:30px;
justify-content:space-around;

}

button#fconosco{
border-radius:30px;
justify-content:space-around;
}


/*Final Button*/

/*Inicio label*/
label#pesquisa{
    justify-content: flex-end;
}
/*Final label*/

/*Inicio input*/
input#cpesquisa{
justify-content: flex-end;


}
/*Final input*/










/**inicio do Rodape*/

footer{
    text-align: center;
    font-family: sans-serif;
 }
 img#github{
     width: 30px;
     right: 10px;
 }
 img#email{
     width: 30px;
 }
 img#linkedin{
     width: 30px;
 }
 img#picpay{
     width: 30px;
 }
 img#paypal{
     width: 30px;
 }
 
 /**Fim do Rodape*/
 

